@font-face {
  font-family: 'roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf'); /* Safari, Android, iOS */
}
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.row {
  display: flex;
}
.v1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.v1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.vl {
  border-left: 3px solid white;
  height: 200px;
  left: 50%;
  margin-top: 18%;
  margin-left: -6px;
}
.v1::before,
.v1::after {
  content: '';
  flex: 1;
  width: 1px;
  background: currentColor;
  /* matches font color */
  margin: .25em;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'roboto';
    overflow-x: hidden;
}

h5 {
  text-align: center;
}

p {
  font-family: 'roboto';
}

.navbar-nav>li {
  padding-left: 50px;
  padding-right: 20px;
}

.navbar-nav>li>a {
  font-size: 1.5em;
}

.display-4 {
  padding-top: 10%;
}

.pic {
  object-fit: cover; 
  width: 500px; 
  height: 700px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.port {
  width: 100%; 
  height: 300px;
  opacity: 1.0;
}

.port:hover {
  opacity: 0.5;
}

.caption {
  text-decoration: none;
  font-size: 25px; 
  text-align: center;
  color:#5ec0b6;
}

.caption:hover {
  color: gainsboro;
  transition: 0.5s;
}

.lead {
  margin-top: 40%;
  text-align: left;
}

.mini {
  font-size: x-small;
  text-align: left;
}

.link {
  color: gainsboro;
  font-size: 20px;
  text-align: center;
}

.link:hover {
  color: #5ec0b6;
}

#cuisine {
  object-fit: cover;
  height: 500px; 
  margin-top: 5%;
}

.bodoni {
  object-fit: cover; 
  width: 500px; 
  height: 500px; 
  margin-top: 10%;
}

.bCase {
  object-fit: cover; 
  width: 500px; 
  height: 500px; 
  margin: 1% 0;
}

.logo1 {
  object-fit: cover; 
  width: 100%; 
  height: 600px; 
  margin-top: 5%;
}

.logo2 {
  object-fit: cover; 
  width: 500px; 
  height: 500px; 
  margin: 1% 0;
}

.logo3 {
  object-fit: cover; 
  width: 500px; 
  height: 600px; 
  margin: 1% 0;
}

.logo4 {
  object-fit: cover; 
  width: 500px; 
  height: 250px; 
  margin: 1% 0;
}

.peak {
  object-fit: cover; 
  width: 100%; 
  height: 600px; 
  margin-top: 5%;
}

/* #vid {
  width:560px;
  height: 315px;

} */
.mr-2 {
  font-size: 18px;
  font-weight: normal;
}
.email {
  color: #5ec0b6;
}

.email:hover {
  color: gainsboro;
  transition: 0.4s;
}
.list-unstyled {
  margin-top: 50%;
}
.copyR {
  text-align: center;
  color: #5ec0b6;
}
.email {
  font-size: 18px;
}

.img-resp {
  width: 100%;
}

li>nav-item:hover {
  color: #5ec0b6;
}

#btnresume {
  float: left !important;
}

#jumboMain {
  background-color: #56b2b2;
  opacity: 90%;
  text-align: center;
  height: 680px;
  background-size: cover; 
  background-repeat: no-repeat;
}

#container1 {
  color: white;
  /* border: 20px double #56b2b2; */
}

#download {
  text-align: center;
  font-size: 12px;
}

#resume {
  object-fit: cover; 
  width: 500px; 
  height: 700px;
}

#btnresume {
  background-color: #5ec0b6;
  color: white;
  transition: 0.3s;
  
  margin-top: 15px;
}

#btnresume:hover {
  background-color: teal;
  color: gainsboro;
}

#vertical { 
  border-left: 2.5px solid white; 
  height: 110px; 
  position:absolute; 
  margin-top: 16%;
  margin-right: 25px;
} 

#proj {
  text-align: center;
  /* margin-top: 0; */
}

#greet {
  font-size: 130px;
}

#jumboFoot {
  background-color: #3c6162;
  background-size: cover; 
  background-repeat: no-repeat;
  height: 300px;
}

#insta {
  border-radius: 10px; 
  color: white; 
  padding: 2px;
}

#insta:hover {
  color: #5ec0b6;
}

#intro {
  color: #56b2b2;
  margin-top: 18%;
}

#linkedin {
  color: white;
}

#linkedin:hover {
  color: #5ec0b6;
} 

#para1 {
  color: lightslategray;
  font-size: 15px;
}

#mainImg {
  margin-top: 5%;
}

#top {
  margin-top: 20%;
}

#vid {
  margin-top: 50%;
  margin-bottom: 15%;
}

#vidDes {
  margin-top: 25%;
}

#title {
  margin-top: 15%;
}



a{color: #0f7afc; border-bottom-color: rgba(15, 122, 252, 0.2); text-decoration:none}
a:hover{color:#cf0000; border-bottom-color: rgba(208, 64, 0, 0.2); text-decoration:none}
a:visited{ color: #800080; border-bottom-color: rgba(128, 0, 128, 0.2); text-decoration:none}


/* Only override this if one of the conditions for the 1500w image is met */
 /* @media 
  (min-width: 375px) and (max-width: 400px),
  (min-width: 468px),
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) {
  .img-resp {
    width: 80%;
  } 
  .navbar-brand {
    width: 75%;

}  */

/* .content > hr {
  display: none !important;
} */

@media screen and (max-width: 1024px) {
  .vl {
    display: none !important;
  }
  
  #greet {
    font-size: 80px;
  }

  .banner {
    max-height: 150px;
  }

  .content > p {
    text-align: center;
  }

  #btnresume {
    float: none !important;
  }

  .rowbar {
    margin-bottom: 50px;
  }

  /* .content > hr {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 10px solid rgba(255, 255, 255, 0.9);
  } */
}
